body{
    font-family: "Roboto", sans-serif;
    background-color: black;
}

.main{
    width: 320px;
    /* border: 1px solid green; */
    /* padding: 1rem; */
    background-color: white;
   
}
.text-section{   
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    background-color: white;
    /* margin-top: -2rem; */
    /* border: 1px dotted green; */
}
img{
    width: 100%;
    /* object-fit: contain; */
}
h1{
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    font-size: 4rem;
}
p{
    /* font-size: 2rem; */
}
.lists{
    line-height: 1.5em;
}
.inp-btn{
    width: 280px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}

#subscribe-Btn{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 5px;
}
#dismiss-btn{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 5px;
}
button{
    color: white;
    background-color: hsl(234, 29%, 20%);
    font-weight: 700;
}

.success{
    width: 320px;
    height: auto;
    padding: 1rem 2rem ;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}
.success img{
    width: 60px;
    height: auto;
}

span{
    font-weight: 700;
}
#success-div{
    display: none;
}

button:hover{
    background-color: red;
    border: none;
}

@media (min-width:800px) {
    .main{
        border-radius: 1rem;
        padding: 1rem;
        width: fit-content;
        display: flex;
        flex-direction: row-reverse;
    }
    .text-section{
        width: 50%;
        align-content: center;
        justify-content: space-around;
    }
    .inp-btn{
        width: 90%;
    }
}